<nav>
    Page Built By
    <a href="https://github.com/mytanyhap" target="_blank"> Ta'Nyha Peoples
    ||
    <a href="https://github.com/ReevanG"   target="_blank"> Reevan Gurajala</a>
    ||
    <a href="https://github.com/aanukwuem" target="_blank"> Andre Anukwuem</a>
    ||
    <a href="https://github.com/dodei2246" target="_blank"> Daniel Odei</a>
    ||
    <a href="https://github.com/HarrisonMicai" target="_blank"> Micai Harrison</a>
    ||
    <a href="https://github.com/SuperTolu" target="_blank"> Tolu Bayode</a>

    </a>&copy; 2024
</nav>
<p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px"
            src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML">
    </a>
    
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss"
                alt="Valid CSS!">
        </a>
    </p>
    <div>
        <img src="Pictures\python.png" alt="Python Logo">
        <img src="Pictures\js.png" alt="JavaScript Logo">
    </div>

    <div>
        <img src="Pictures\html.png" alt="HTML Logo">
        <img src=" Pictures\css-3.png" alt="CSS Logo">
    </div>