<!--<div class="menu toggle"></div>
    <div class="nav-bar"></div>
    <div class="nav-bar"></div>
    <div class="nav-bar"></div>
    <div class="nav-bar"></div>
  </div>
  <nav class="mobile-nav">

    <div class="nav-category">
    
      <li><a href="about.html">
        <button type="button">About Us</button>
    </a></li>
      <div>
        <ul>
            <li><a href="register.html">
                <button type="button">Sign Up</button>
            </a></li>
            <li><a href="login.html">
                <button>Login</button>
            </a></li>
        </ul>
    </div>
  
    <div>
        <ul>
            <li><a href="features.html">
                <button>Features</button>
            </a></li>
        </ul>
    </div>
    </div>